In [1]:
import pandas as pd

In [3]:
# load data from csv
data = pd.read_csv('resources/clean_extended_data.csv')

In [4]:
data.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit,HardHit%,Events,CStr%,CSW%,L-WAR,competitive_runs,bolts,hp_to_1b,sprint_speed
0,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,217,0.500,434,0.220,0.270,10.4,237.0,6.0,4.18,28.1
1,10155,2018,Mike Trout,LAA,26,140,471,608,147,80,...,162,0.460,352,0.201,0.261,9.6,185.0,36.0,4.25,29.2
2,11579,2015,Bryce Harper,WSN,22,153,521,654,172,91,...,188,0.477,394,0.118,0.226,9.3,223.0,1.0,4.34,27.7
3,10155,2015,Mike Trout,LAA,23,159,575,682,172,93,...,205,0.486,422,0.207,0.282,9.3,236.0,73.0,4.20,29.6
4,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,186,0.550,338,0.157,0.290,8.3,209.0,0.0,4.50,28.0

In [5]:
# keep Important columns IDfg SO, CSW%, LD, Events, wRAA, Barrels, RBI, IFFB, R, competitive_runs and drop others
neew_data = data[['IDfg', 'SO', 'CSW%', 'LD', 'Events', 'wRAA', 'Barrels', 'RBI', 'IFFB', 'R', 'competitive_runs']]

In [6]:
# Load old data2.csv
data2 = pd.read_csv('resources/data2.csv')
data2.head()

,Unnamed: 0,IDfg,Season,Name,Age,PA,H,HR,R,RBI,...,WAR,BABIP,LD%,GB%,Contact%,SwStr%,Barrel%,EV,maxEV,next_year_hits
0,0,15640,2022,Aaron Judge,30,696,177,62,133,131,...,11.6,0.340,0.193,0.373,0.722,0.118,0.262,95.8,118.4,NaN
1,1,13611,2018,Mookie Betts,25,614,180,32,129,80,...,10.4,0.368,0.212,0.339,0.859,0.050,0.131,92.3,110.6,176.0
2,2,10155,2018,Mike Trout,26,608,147,39,101,79,...,9.5,0.346,0.234,0.313,0.841,0.060,0.153,91.2,118.0,137.0
3,3,11579,2015,Bryce Harper,22,654,172,42,118,99,...,9.3,0.369,0.222,0.385,0.754,0.108,0.122,91.4,116.0,123.0
4,4,10155,2015,Mike Trout,23,682,172,41,104,90,...,9.3,0.344,0.244,0.372,0.800,0.075,0.161,92.9,117.7,173.0

In [7]:
# Merge the two dataframes and match the IDfg column
merged_data = pd.merge(neew_data, data2, on='IDfg')
merged_data.head()

,IDfg,SO_x,CSW%,LD,Events,wRAA,Barrels,RBI_x,IFFB,R_x,...,WAR,BABIP,LD%,GB%,Contact%,SwStr%,Barrel%,EV,maxEV,next_year_hits
0,13611,91,0.27,92,434,67.2,57,80,18,129,...,10.4,0.368,0.212,0.339,0.859,0.050,0.131,92.3,110.6,176.0
1,13611,91,0.27,92,434,67.2,57,80,18,129,...,8.1,0.322,0.193,0.414,0.873,0.052,0.047,89.7,114.7,166.0
2,13611,91,0.27,92,434,67.2,57,80,18,129,...,6.6,0.272,0.186,0.337,0.849,0.067,0.098,90.5,109.0,NaN
3,13611,91,0.27,92,434,67.2,57,80,18,129,...,6.4,0.309,0.248,0.315,0.866,0.051,0.093,91.0,109.3,64.0
4,13611,91,0.27,92,434,67.2,57,80,18,129,...,5.3,0.268,0.168,0.404,0.858,0.051,0.042,88.4,111.7,180.0

In [8]:
# Save the merged data to a new csv file
merged_data.to_csv('resources/data3.csv', index=False)