In [1]:
import pandas as pd

In [2]:
# load data from csv
data = pd.read_csv('../resources/clean_extended_data.csv')

In [3]:
data.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit,HardHit%,Events,CStr%,CSW%,L-WAR,competitive_runs,bolts,hp_to_1b,sprint_speed
0,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,217,0.500,434,0.220,0.270,10.2,237.0,6.0,4.18,28.1
1,10155,2018,Mike Trout,LAA,26,140,471,608,147,80,...,162,0.460,352,0.201,0.261,9.5,185.0,36.0,4.25,29.2
2,11579,2015,Bryce Harper,WSN,22,153,521,654,172,91,...,188,0.477,394,0.118,0.226,9.3,223.0,1.0,4.34,27.7
3,10155,2015,Mike Trout,LAA,23,159,575,682,172,93,...,205,0.486,422,0.207,0.282,9.3,236.0,73.0,4.20,29.6
4,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,186,0.550,338,0.157,0.290,8.7,209.0,0.0,4.50,28.0

In [4]:
# keep Important columns IDfg SO, CSW%, LD, Events, wRAA, Barrels, RBI, IFFB, R, competitive_runs and drop others
neew_data = data[['IDfg', 'SO', 'CSW%', 'LD', 'Events', 'wRAA', 'Barrels', 'RBI', 'IFFB', 'R', 'competitive_runs']]

In [5]:
# Load old data2.csv
data2 = pd.read_csv('../resources/data2.csv')
data2.head()

,Unnamed: 0,IDfg,Season,Name,Age,PA,H,HR,R,RBI,...,WAR,BABIP,LD%,GB%,Contact%,SwStr%,Barrel%,EV,maxEV,next_year_hits
0,0,13611,2018,Mookie Betts,25,614,180,32,129,80,...,10.4,0.368,0.212,0.339,0.859,0.050,0.131,92.3,110.6,176.0
1,1,10155,2018,Mike Trout,26,608,147,39,101,79,...,9.5,0.346,0.234,0.313,0.841,0.060,0.153,91.2,118.0,137.0
2,2,11579,2015,Bryce Harper,22,654,172,42,118,99,...,9.3,0.369,0.222,0.385,0.754,0.108,0.122,91.4,116.0,123.0
3,3,10155,2015,Mike Trout,23,682,172,41,104,90,...,9.3,0.344,0.244,0.372,0.800,0.075,0.161,92.9,117.7,173.0
4,4,15640,2017,Aaron Judge,25,678,154,52,128,114,...,8.7,0.357,0.219,0.349,0.676,0.133,0.249,94.9,121.1,115.0

In [6]:
# Keep important column from data2.csv 'next_year_hits' and drop others
new_data2 = data2[['IDfg','next_year_hits']]

In [7]:
# Merge the two dataframes and match the IDfg column
merged_data = pd.merge(neew_data, new_data2, on='IDfg')
merged_data.head()

,IDfg,SO,CSW%,LD,Events,wRAA,Barrels,RBI,IFFB,R,competitive_runs,next_year_hits
0,13611,91,0.27,92,434,67.2,57,80,18,129,237.0,176.0
1,13611,91,0.27,92,434,67.2,57,80,18,129,237.0,166.0
2,13611,91,0.27,92,434,67.2,57,80,18,129,237.0,NaN
3,13611,91,0.27,92,434,67.2,57,80,18,129,237.0,180.0
4,13611,91,0.27,92,434,67.2,57,80,18,129,237.0,214.0

In [8]:
# Save the merged data to a new csv file
merged_data.to_csv('../resources/data3.csv', index=False)